/* Font Face */
@font-face {
  font-family: "cake_dingbatsregular";
  src: url("/fonts/cakedingbats-webfont.eot");
  src:
    url("/fonts/cakedingbats-webfont.eot?#iefix") format("embedded-opentype"),
    url("/fonts/cakedingbats-webfont.woff2") format("woff2"),
    url("/fonts/cakedingbats-webfont.woff") format("woff"),
    url("/fonts/cakedingbats-webfont.ttf") format("truetype"),
    url("/fonts/cakedingbats-webfont.svg#cake_dingbatsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/** Improve content container real-estate **/
/** see: https://github.com/vuejs/vitepress/discussions/1646 **/
.VPDoc.has-aside .content-container {
  max-width: 100% !important;
}

/* Theme Variables */
:root {
  --cake-color-link: #2d7ea4;
  --cake-color-progress: #d33c43;
  --vp-font-family-base: "Raleway", Helvetica, Arial, sans-serif;
  --vp-c-brand-1: #d33c43;
  --vp-c-brand-2: #c8363d;
  --vp-c-brand-3: #b02e34;
  --vp-c-brand-soft: rgba(211, 60, 67, 0.14);
  --vp-c-red-1: #d33c43;
  --vp-c-red-2: #c8363d;
  --vp-c-red-3: #b02e34;
  --vp-custom-block-tip-bg: #d9edf7;
  --vp-custom-block-note-bg: #fcf8e3;
  --vp-custom-block-warning-bg: #f2dede;
  --vp-custom-block-info-bg: #dff0d8;
  --vp-custom-block-font-size: 14px;
}

/* Dark Theme */
.dark {
  --vp-c-brand-1: #ff6b6b;
  --vp-c-brand-2: #d33c43;
  --vp-c-brand-3: #c8363d;
  --vp-c-brand-soft: rgba(255, 107, 107, 0.16);
  --vp-c-bg: #1a1a1a;
  --vp-sidebar-bg-color: #0f0f0f;
  --vp-custom-block-tip-bg: rgba(23, 71, 100, 0.3);
  --vp-custom-block-note-bg: rgba(102, 77, 3, 0.3);
  --vp-custom-block-warning-bg: rgba(92, 28, 28, 0.3);
  --vp-custom-block-info-bg: rgba(22, 70, 12, 0.3);
}

/* Hero Image Shadow */
.VPHero .VPImage {
  filter: drop-shadow(-2px 4px 15px rgba(64, 64, 64, 0.3));

  .dark & {
    filter: drop-shadow(-2px 4px 15px rgba(211, 60, 67, 0.2));
  }
}

/* Documentation Styles */
.vp-doc {
  & a {
    color: var(--cake-color-link);
  }

  & strong,
  & em,
  & i,
  & b,
  & li,
  & p {
    font-family: var(--vp-font-family-body);
  }
}

/* Custom Block Titles */
.custom-block-title {
  padding-left: 33px;
  position: relative;

  &:before {
    display: block;
    font-family: "cake_dingbatsregular";
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    top: 1px;
    left: 1px;
    user-select: none;
  }
}

/* Custom Block Icons */
.custom-block {
  &.tip .custom-block-title:before {
    content: "X";
    color: #97cae4;
  }

  &.note .custom-block-title:before {
    content: "U";
    color: #e2c99c;
  }

  &.warning .custom-block-title:before,
  &.deprecated .custom-block-title:before {
    color: #e0b9b9;
  }

  &.warning .custom-block-title:before {
    content: "W";
  }

  &.deprecated .custom-block-title:before {
    content: "H";
  }

  &.info .custom-block-title:before {
    content: "V";
    color: #a7d096;
  }
}

/** Improve content container real-estate **/
/** see: https://github.com/vuejs/vitepress/discussions/1646 **/
.VPDoc.has-aside .content-container {
  max-width: 100% !important;
}
